.code-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    }
  
  .code__title{
    margin-top: 0px;
  }

  .code-text-label {
    text-transform: none; 
    padding: 5px;
  }

  .code-text-input {
    height: 30px;
  }

  .code-text-fieldset {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
  }

  .code-text-btn {
    margin-top: 20px;
    height: 40px;
    background-color: rgba(43, 228, 36, 0.829);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }

  .code-text-btn:hover {
    background-color: rgba(13, 134, 9, 0.829);
    color:#ffffff;
  }

  .img-list-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
  }

  .img-href {
    height: 20px;
    color: #ffffff;
    padding-top: 10px;
  }