.img-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    border: 5px solid rgba(122, 131, 122, 0.822);
    padding: 5px;
  }

  .img-by-code {
    max-width: 400px;
    max-height: 600px;
  }

  .close-btn {
    margin-top: 20px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
  }

  .close-btn:hover {
    background-color: rgba(96, 104, 96, 0.829);
    color:#ffffff;
  }