body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #232321;
  }

  main {
    position: relative;
  }

  .main-title {
    text-align: center;
  }

  .flex-container-horizontal {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }